header {
    padding:1em 0;
    box-sizing: border-box;
    background-color:#c4def1;
}

header .left {
    width:45%;
    text-align: center;
}
header .right {
    width:25%;
    text-align: center;
}
header .middle {
    width:30%;
    text-align: center;
}