
/*top group-list overrides*/
.text-top ul {
    list-style:none;
    margin-bottom:10px;
    background-color:#fff;
}



.bullet-list .list-group .list-group-item .label {
    position:relative;
    top:-3px;
    font-size:.6em;
}

.text-top li .subject {
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 1em;
    font-weight: normal;
    color: #343434;
    overflow: hidden;
    box-sizing: border-box;
    word-break:break-all;
}

.bullet-list .list-group .list-group-item .count{
    color:#ff849c;
}
/*eo top group-list overrides*/

/* text-bottom */
.text-bottom .post {
    padding: 0;
}
.text-bottom .subject {
    font-size:1em;
    font-weight:normal;
    margin:0!important;
}

/* latest-post-group */
.latest-post-group .forum ul {
    margin: 0;
    padding: 0;
}
.latest-post-group .forum .post {
    margin: .2em 0;
    padding: .4em .8em;
}
.latest-post-group .forum .post .subject {
    margin:0;
    padding:0;
}
