
/** ================ Header =================== */
header {
    background-color:white;
}
/* top */
header .top{
    padding:10px 0;
    margin-bottom:0;
    background-color:black;
    border:0;
    border-radius:0;
    text-align:center;
}
.main-menu {
    cursor:pointer;
    background-color:#fff;
    text-align:center;
}

.main-menu span {
    padding: 12px 0;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0 !important;
    font-size: 1em;
}

.main-menu span:hover {
    cursor:pointer;
    color: #c43d31;
    border-bottom:2px solid #c43d31;
}

header .top .glyphicon {
    float:left;
    margin:0;
    color:#fff;
}

header .top .glyphicon.glyphicon-camera{
    display:none;
    padding:5px;
    margin:8px 0 0 0;
    font-size:14px;
}

header .top .glyphicon.glyphicon-pencil{
    display:none;
    padding:8px;
    margin:5px 5px 0 0;
    font-size:14px;
}

header .top .glyphicon.glyphicon-home, header .top .glyphicon.glyphicon-th-list {
    padding:10px;
    font-size:20px;
}

header .top .glyphicon.glyphicon-home{
    margin-right:5px;
}

header .top .glyphicon{
    border:2px solid #fff;
    border-radius:100%;
}

header .top .logo{
    float:none;
    margin:0 0 0 0;
    font-size:31px;
    color:#fff;
}

header .top .navbar-right {
    float:right;
    margin-right:0;
}



header .sub-menu {
    background-color: #c4c9de;
    overflow:auto;
}

header .sub-menu .item {
    display:block;
    float:left;
    width:13.5%;
}
header .sub-menu .item.menu-all {
    width:19%;
}
header .sub-menu .item i {
    display:block;
    padding:8px 0;
    font-style:normal;
    text-align: center;
}

/*
header .third-menu-wrapper {
    padding-bottom:1em;
    background-color:transparent;
}
header .third-menu {
    margin: 0 10px;
    padding: 6px;
    background-color:white;
    line-height:10px;
    text-align:center;
}
header .third-menu span {
    font-family: "Gulim", "굴림", "AppleGothic", serif;
    font-size:11px;
}
*/

@media (min-width:480px){
    header .top .logo{
        margin:0 62px 0 0;
    }

    header .top .glyphicon.glyphicon-pencil, header .top .glyphicon.glyphicon-camera{
        display:block;
    }
}


/** Google search box */
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width:auto!important;
    height:auto!important;
}
/** Eo google search box */

/** ========== EO Header ============ */
