body {
	
}

header {
    position:fixed;
    z-index:1234;
    top:0;
    left:0;
    right:0;
    /*height:105px;*/
    overflow:hidden;
}
footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    /*height:60px;*/
    overflow:hidden;
}
section.widget.content {
    margin-top:105px;
    margin-bottom:50px;
}
.widget.menu-panel {
	position: fixed;
	top: 64px;
	right: -300px;
	z-index: 9999;
}

.notification {
    position:fixed;
    top:60px;
}