html {
	height:100%;
}

body {
	height:100%;
}

header {
    position:fixed;
    z-index:9876543210;
    top:0;
    left:0;
    right:0;
    /* max-height: 140px; */
    padding-bottom: 5px;
    overflow:hidden;
}
footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    /*height:60px;*/
    overflow:hidden;
	z-index:2;
}

#layout{
	height:100%;
}

section.content-wrapper {
	min-height:100%;
    padding-top:144px;
    padding-bottom:75px;
	box-sizing:border-box;
}
.widget.menu-panel {
	position: fixed;
	top: 64px;
	right: -300px;
	z-index: 9999;
}

.note {
    position:fixed;
    z-index: 9876543212;
    top:112px;
}