
/* ===================== Panel ==================== */
/*menu-panel*/
.widget.menu-panel {
    border-left:2px solid #34495e;
    width: 260px;
}
.menu-panel-inner {
    width:258px;
}
.widget.menu-panel .panel{
    margin:0;
    border:0;
    border-radius:0;
}
.widget.menu-panel .panel .panel-heading{
    padding-bottom:100px;
    background-color:#fff;
}
.widget.menu-panel ul{
    list-style:none;
}
.widget.menu-panel .list-group li .list-group-item{
    border:0;
}
.widget.menu-panel .list-group li > div > .glyphicon{
    display:inline-block;
    position:absolute;
    padding:.4em 0 0;
    right:10px;
    top:10px;
    font-size:.8em;

}
.widget.menu-panel .list-group.top li > div > .glyphicon.glyphicon-menu-right{
    color:#a2a2a2;
    padding:.4em 0 0;
}
/*top*/
.widget.menu-panel .list-group.top li > div > .glyphicon.glyphicon-remove{
    color:red;
    padding:.4em .1em 0 0;
}
/*top*/
/*panel-user-profile*/
.panel-user-profile{
    position:relative;
    padding:63px 0 0 0;
    background:url("../img/bgmenu_oval.png");
    background-color: #fff;
    background-repeat:no-repeat;
}
.panel-user-primary-photo {
    width:70px;
    position:absolute;
    left:20px;
    top:0;
    border-radius: 50%;
    overflow:hidden;
}

.panel-user-primary-photo img {
    max-height:70px;
}

.panel-user-profile .bottom-space{
    height:20px;
    background-color:#00b4d1;
}
.panel-user-profile .name{
    position:absolute;
    left:0;
    top:20px;
    width:100%;
    padding:0 0 0 120px;
    font-weight:bold;
    color:#fff;
    box-sizing:border-box;
    text-align:center;
}
.panel-user-profile .name > div{
    font-weight:normal;
}

.panel .forum {
    margin-bottom:1em;
    text-align: center;
    overflow:auto;
}
.panel .forum span {
    display:inline-block;
    margin:.2em;
    padding:.2em .4em;
    border-radius:4px;
    background-color: #c6d5e0;
}


/*eo panel-user-profile*/