.post-comment-form [name='content'] {
    width: 180px;
    height:26px;
}

.comment[depth] {
    margin:1em 0;
    padding: 0.6em;
    background-color:#e7e7e7;
}

.comment[depth='1'] { background-color:#b9b9b9;}
.comment[depth='2'] { margin-left:30px; background-color:#c9c9c9;}
.comment[depth='3'] { margin-left:45px; background-color:#d9d9d9;}
.comment[depth='4'] { margin-left:60px; }
.comment[depth='5'] { margin-left:75px; }
.comment[depth='6'] { margin-left:90px; }
.comment[depth='7'] { margin-left:100px; }
.comment[depth='8'] { margin-left:110px; }
.comment[depth='9'] { margin-left:120px; }
.comment[depth='10'] { margin-left:130px; }
.comment[depth='11'] { margin-left:140px; }
.comment[depth='12'] { margin-left:150px; }


.reply-button {
    cursor:pointer;
}

.file-upload-button {
    padding:1em;
}