.post-comment-form [name='content'] {
    width: 180px;
    height:26px;
}

.comment[depth] {
    margin:1em 0;
    padding: 0.6em;
    background-color:#e7e7e7;
}

.comment[depth='1'] { background-color:#b9b9b9;}
.comment[depth='2'] { margin-left:30px; background-color:#c9c9c9;}
.comment[depth='3'] { margin-left:45px; background-color:#d9d9d9;}
.comment[depth='4'] { margin-left:60px; }
.comment[depth='5'] { margin-left:75px; }
.comment[depth='6'] { margin-left:90px; }
.comment[depth='7'] { margin-left:100px; }
.comment[depth='8'] { margin-left:110px; }
.comment[depth='9'] { margin-left:120px; }
.comment[depth='10'] { margin-left:130px; }
.comment[depth='11'] { margin-left:140px; }
.comment[depth='12'] { margin-left:150px; }


.reply-button {
    cursor:pointer;
}

.file-upload-button {
    padding:1em;
}


.photos .photo {
    position:relative;
    float:left;
}
.photo-delete-button {
    position:absolute;
    padding:1.6em;
    background-color:blue;
    cursor:pointer;
}



/*content*/
.post .content{
    font-size:.9em;
}

.post .photos {
    padding:0 10px;
}

.post .photos .photo {
    width:120px;
    height:120px;
}

.post .photos .photo img {
    width:100%;
}
/*post-menu-philzine-bottom*/
.post .post-menu-philzine-bottom{
    padding:0 10px 10px 10px;
    font-size:.9em;
    font-weight:bold;
    color:#73808f;
}

.post .post-menu-philzine-bottom img{
    position:relative;
    top:-2px;
    margin-right:5px;
}
/*eo post-menu-philzine-bottom*/

.post > .nav{
    border-bottom:1px solid #ddd;

}

.post > .nav > li{
    padding:10px 10px 0 10px
}


/*drop down*/
.post .dropdown-toggle{
    border:0;
    background-color:initial!important;
}

.post .dropdown-toggle:hover{
    background-color:initial;
}

.post .dropdown-toggle:after{
    display:none;
}

.post .dropdown-menu{
    padding:0;
}

.post .dropdown-menu .dropdown-item{
    cursor:pointer;
}
/*eo drop down*/

.post .content .media.post-edit-wrapper .media-left{
    display:none;
}

/**
 * ========      POST EDIT ========
 */

.post-edit [name='subject'] {
    width:100%;
    box-sizing: border-box;
}
.post-edit [name='content'] {
    width:100%;
    min-height:6em;
    box-sizing: border-box;
}
.post-edit .cancel-button {
    cursor:pointer;
}

.post-edit .photos {
    overflow:auto;
}

/** EO POST EDIT */