.post-comment-form [name='content'] {
    width: 180px;
    height:26px;
}

.post[depth] {
    margin:1em 0;
    padding: 0.6em;
    background-color:#e7e7e7;
}

.post[depth='1'] { background-color:#b9b9b9;}
.post[depth='2'] { margin-left:30px; background-color:#c9c9c9;}
.post[depth='3'] { margin-left:45px; background-color:#d9d9d9;}
.post[depth='4'] { margin-left:60px; }
.post[depth='5'] { margin-left:75px; }
.post[depth='6'] { margin-left:90px; }
.post[depth='7'] { margin-left:100px; }
.post[depth='8'] { margin-left:110px; }
.post[depth='9'] { margin-left:120px; }
.post[depth='10'] { margin-left:130px; }
.post[depth='11'] { margin-left:140px; }
.post[depth='12'] { margin-left:150px; }


.reply-button {
    cursor:pointer;
}

.file-upload-button {
    padding:1em;
}


.photos .photo {
    position:relative;
    float:left;
}
.photo-delete-button {
    position:absolute;
    padding:1.6em;
    background-color:blue;
    cursor:pointer;
}



/*content*/
.post .content{
    font-size:.9em;
}

.post .photos {
    padding:0 10px;
}

.post .photos .photo {
    width:120px;
    height:120px;
}

.post .photos .photo img {
    width:100%;
}
/*post-menu-philzine-bottom*/
.post .post-menu-philzine-bottom{
    padding:0 10px 10px 10px;
    font-size:.9em;
    font-weight:bold;
    color:#73808f;
}

.post .post-menu-philzine-bottom img{
    position:relative;
    top:-2px;
    margin-right:5px;
}
/*eo post-menu-philzine-bottom*/

.post > .nav{
    border-bottom:1px solid #ddd;

}

.post > .nav > li{
    padding:10px 10px 0 10px
}


/*drop down*/
.post .dropdown-toggle{
    border:0;
    background-color:initial!important;
}

.post .dropdown-toggle:hover{
    background-color:initial;
}

.post .dropdown-toggle:after{
    display:none;
}

.post .dropdown-menu{
    padding:0;
}

.post .dropdown-menu .dropdown-item{
    cursor:pointer;
}
/*eo drop down*/

.post .content .media.post-edit-wrapper .media-left{
    display:none;
}

/**
 * ========      POST EDIT ========
 */

.post-edit [name='subject'] {
    width:100%;
    box-sizing: border-box;
}
.post-edit [name='content'] {
    width:100%;
    min-height:6em;
    box-sizing: border-box;
}
.post-edit .cancel-button {
    cursor:pointer;
}

.post-edit .photos {
    overflow:auto;
}

/** EO POST EDIT */














/*post*/
.post{
	position:relative;
	padding:10px 0 10px 0;
	margin:0 0 10px 0;
	background-color:#fff;	
}

.post > .post-info, .post > .post-menu-philzine-bottom, .post > .content,  .post > .subject{
	padding:0 10px 10px 10px;
}

.post .profile-image{
	width:50px;
	max-width:initial;
}

/*post info*/
.post .post-info{
	margin:0 0 10px 0;
}

.post .post-info .name{
	font-size:.9em;
	font-weight:bold;
}

.post .post-info .name .send-message{
	position:relative;
	top:-1px;
	margin-left:8px;
}

.post .post-info .date, .post .location{
	font-size:.8em;	
}

.post .post-info .separator{
	position:relative;
	top:-2px;
	font-size:.6em;	
	margin:0 5px;
}
/*eo post info*/

/*post-menu-philzine-top*/
.post .post-menu-philzine-top{
	position:absolute;
	right:5px;
	top:0;
	padding:0;
	color:#aaa;
}

.post .post-menu-philzine-top button{
	background-color:initial!important;
}

.post .post-menu-philzine-top .menu-separator{
	float: left;
	height: 25px;
	padding: 5px 0;
	margin: 7px 5px 0 5px;
	font-size: 1.1em;
	border-left: 1px solid #e5e5e5;
}

.post .post-menu-philzine-top .btn{
	border:0;
}

.post .post-menu-philzine-top .btn:active{
    box-shadow:none;
}

.post .post-menu-philzine-top .glyphicon{
	
}

.post .post-menu-philzine-top .glyphicon.glyphicon-pencil, .post .post-menu-philzine-top .glyphicon.glyphicon-trash{
	top:5px;
	font-size:1.2em;
}

.post .post-menu-philzine-top .glyphicon.glyphicon-option-vertical{
	font-size:1.5em;
}

.post .post-menu-philzine-top .btn:hover{
	background-color:#fff;
}
/*eo post-menu-philzine-top*/

/*post-menu-philzine-bottom*/
.post .post-menu-philzine-bottom{
	
}

.post .post-menu-philzine-bottom .glyphicon{
	margin-right:5px;
}
/*eo post-menu-philzine-bottom*/

/*eo post*/


/*Comment List*/
.comment{
	position:relative;
	padding:10px 0 0 0;
	margin:0 0 0 0;
	background-color:#fff!important;/*temp for override*/
}
/*
.comment .post-info, .comment > .post-menu-philzine-bottom {
	padding:0 10px;
}
*/

.comment .profile-image{
	width:40px;
	max-width:none;
	border-radius:100%;
}

/*post info*/
.comment .post-info{
	margin:0 0 10px 0;
}

.comment .post-info .name{
	font-size:.8em;
	font-weight:bold;
}

.comment .post-info .name .send-message{
	position:relative;
	top:-1px;
	margin-left:8px;
}

.comment .post-info .date,  .location{
	font-size:.7em;	
}

.comment .post-info .separator{
	position:relative;
	top:-2px;
	font-size:.6em;	
	margin:0 5px;
}
/*eo post info*/

/*content*/
.comment .content{
	font-size:.9em;
}

.comment .content .files {
	font-size:.9em;
}

.comment .content .files .file{
	width:25%;
	max-width:150px;
	margin:10px 0;
}

.comment .content .files .file img{
	width:100%;
}
/*eo content*/

/*post-menu-philzine-bottom*/
.comment .post-menu-philzine-bottom{
	font-size:.8em;
	font-weight:bold;
	color:#aaaaaa;	
	padding:0 10px 0 10px;
}

.comment .post-menu-philzine-bottom.btn-group{
	padding:0;
}

.comment .post-menu-philzine-bottom.btn-group .btn.like{
	margin:1px 0 0 0;
}

.comment .post-menu-philzine-bottom .glyphicon{
	position:relative;
	top:2px;	
}

.comment .post-menu-philzine-bottom .glyphicon.glyphicon-thumbs-up{		
	font-size:1em;
}

.comment .post-menu-philzine-bottom .glyphicon.glyphicon-option-horizontal{	
	font-size:1.5em;
}

.comment .post-menu-philzine-bottom .btn{
	padding: 0px 6px;
}

.comment .post-menu-philzine-bottom .btn:active{
    box-shadow:none;
}
/*eo post-menu-philzine-bottom*/

/*drop down*/
.comment .dropdown-toggle{
	padding:0
}
/*eo drop down*/
/*EO Comment List*/





/*post-write-form*/
.post-write-form select {
    height: 35px;
    border: 0;
    background-color: #b5c5c6;
    color: #fff;
}

.post-write-form .post-content-wrapper{	
	margin-bottom:10px;
	border:1px solid #c7c7c7;
	border-radius:3px;
	background-color:#fff;
	overflow:hidden;
}

.post-write-form .photos{
	display:none;
	padding:5px;
	border-top:1px solid #c7c7c7;
}

.post-edit-form .photos{
	display:block;
}

.post-write-form textarea{
	display:block;
	height:40px;
	width:100%;
	padding:5px;
	border:0;
	resize:none;
	box-sizing:border-box;
}

.post-write-form textarea:focus{
	outline:0;
}

.post-write-form input[type='submit']{	
	height:35px;
	width:100%;
	padding:5px 0;
	border:0;
	border-radius:3px;
	background-color:#2c8ac8;
	font-weight:bold;
	color:#fff;
	box-sizing:border-box;
}

.post-write-form  .row.commands{
	display:none;
	margin:0;
}

.post-edit-form  .row.commands{
	display:block;	
}

.post-write-form  .row.commands > .category{	
	position:relative;
}

.post-write-form  .row.commands > .category .caret{	
	position:absolute;
	right:7px;
	top:14px;
	border-top: 7px dashed;    
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
	color:#fff;
}

.post-write-form  .row.commands > .col-xs-4:first-child{	
	padding:0 6.66px 0 0;
}

.post-write-form  .row.commands > .col-xs-4:nth-child(2){	
	padding:0 3.33px 0 3.33px;
}

.post-write-form  .row.commands > .col-xs-4:last-child{	
	padding:0 0 0 6.66px;
}
/*eo post-write-form*/




/*comment-write-form*/
.comment-write-form{
	padding:0 10px;
	margin-top:10px;
}

.comment-write-form .media.post-info{
	padding:0 10px 0 0;
	margin:0;
}

.comment-write-form .media.post-info .media-left{
	
}

.comment-write-form .commands{
	padding:0;
}

.comment-write-form .profile-image{
	width:35px;
}

.comment-write-form textarea{
	display:block;
	width:100%;
	height:35px;
	padding:5px;
	resize:none;
	box-sizing:border-box;
}

.comment-write-form input[type='submit']{	
	height:35px;
	width:100%;
	padding:5px 0;
	border:0;
	border-radius:3px;
	background-color:#2c8ac8;
	color:#fff;
	box-sizing:border-box;
}
/*eo comment-write-form*/



/*post-edit-form*/
.post-edit-form .glyphicon.glyphicon-remove.cancel-button {
	display:block;
    height: 35px;
	padding:8px 0;
    width:100%;
	border-radius:2px;
	background-color:red;
	color:#fff;
	text-align:center;
	box-sizing:border-box;
}

.post-edit-form .glyphicon.glyphicon-remove.cancel-button:before {
	position:relative;
	top:2px;
	margin-right:5px;
}

.post-edit-form .post-content-wrapper{	
	margin-bottom:10px;
	border:1px solid #c7c7c7;
	border-radius:3px;
	background-color:#fff;
	overflow:hidden;
}

.post-edit-form .photos{
	display:none;
	padding:5px;
	border-top:1px solid #c7c7c7;
}

.post-edit-form .photos{
	display:block;
}

.post-edit-form textarea{
	display:block;
	height:40px;
	width:100%;
	padding:5px;
	border:0;
	resize:none;
	box-sizing:border-box;
}

.post-edit-form textarea:focus{
	outline:0;
}

.post-edit-form input[type='submit']{	
	height:35px;
	width:100%;
	padding:5px 0;
	border:0;
	border-radius:3px;
	background-color:#2c8ac8;
	font-weight:bold;
	color:#fff;
	box-sizing:border-box;
}

.post-edit-form  .row.commands{
	display:none;
	margin:0;
}

.post-edit-form  .row.commands{
	display:block;	
}

.post-edit-form  .row.commands > .category{	
	position:relative;
}

.post-edit-form  .row.commands > .category .caret{	
	position:absolute;
	right:7px;
	top:14px;
	border-top: 7px dashed;    
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
	color:#fff;
}

.post-edit-form  .row.commands > .col-xs-4:first-child{	
	padding:0 6.66px 0 0;
}

.post-edit-form  .row.commands > .col-xs-4:nth-child(2){	
	padding:0 3.33px 0 3.33px;
}

.post-edit-form  .row.commands > .col-xs-4:last-child{	
	padding:0 0 0 6.66px;
}
/*eo post-edit-form*/



/*file-button*/
.file.desktop{
	position:relative;
}

.file.desktop input[type='file']{
	width:100%;
	height:35px;
	opacity:0;
}

.file .glyphicon{
	position: absolute;
	top:0;
	left:0;
	height: 35px;
	width: 100%;
	padding: 5px 0;
	border-radius: 3px;
	background-color: #95a5a6;
	font-size: 1.5em;
	color: #fff;
	box-sizing: border-box;
	text-align: center;
}

.file.file-upload-button {
	padding:0;
}

.file.file-upload-button .glyphicon{
	position:relative;	
}

.commands .col-xs-6:first-child{
	padding:0 5px 0 0;
}

.commands .col-xs-6:last-child{
	padding:0 0 0 5px;
}
/*eo file-button*/

/*photos*/
/*display*/
.photos > img{	
	width:49%;
	padding:3px;
	border:1px solid #ddd;
	margin:2px .5% 0 .5%;
	box-sizing:border-box;
}
/*eo display*/

/*edit*/
.photos .photo{
	margin-top:5px;
}
/*eo edit*/
/*eo photos*/