.modal {
    top:112px!important;
}

.note {
    z-index: 2000;
    margin:0 10% 1em;
    padding:1em 1em 0;
    background-color: #a2b7e6;
    color:white;
}


.endless-list {
    padding:0.6em 0.6em 20em;
    background-color: #efefef;
}



form.login .row {
    margin:0;
    padding:0;
}

[page-button] {
    cursor:pointer;
}

/** ================ Header =================== */
/* top */
 header .top{
     padding:10px 0;
     margin-bottom:0;
     background-color:#2980b9;
     border:0;
     border-radius:0;
     text-align:center;
 }
.main-menu {
    cursor:pointer;
    background-color:#fff;
    text-align:center;
}

.main-menu span{
	border:0;
	border-bottom:2px solid transparent;	
	border-radius:0!important;
	font-size:1em;
}

.main-menu span:hover {
    cursor:pointer;
    color: #c43d31;
    border-bottom:2px solid #c43d31;
}

header .top .glyphicon {
    float:left;
    margin:0;   
    color:#fff;
}

header .top .glyphicon.glyphicon-camera{    
	display:none;
	padding:5px;
	margin:8px 0 0 0;
    font-size:14px;
}

header .top .glyphicon.glyphicon-pencil{    
	display:none;
	padding:8px;
	margin:5px 5px 0 0;
    font-size:14px;
}

header .top .glyphicon.glyphicon-home, header .top .glyphicon.glyphicon-th-list {   
	padding:10px;	
    font-size:20px;    
}

header .top .glyphicon.glyphicon-home{
	margin-right:5px;
}

header .top .glyphicon{    
    border:2px solid #fff;
    border-radius:100%;
}

header .top .logo{
    float:none;
    margin:0 0 0 0;
    font-size:31px;
    color:#fff;
}

header .top .navbar-right {
    float:right;
    margin-right:0;
}
@media (min-width:480px){
	header .top .logo{		
		margin:0 62px 0 0;		
	}

	header .top .glyphicon.glyphicon-pencil, header .top .glyphicon.glyphicon-camera{    
		display:block;	
	}
}
/** ========== EO Header ============ */

/** ============ Footer ============= */
footer {
    border-top:3px solid #00b4d1;
    padding:0;
    box-sizing: border-box;
    background-color:#fff;
}
footer .bottom-menu{
    background-color:#fff;
    text-align:center;
}

footer .bottom-menu.bottom span{
	padding:0;
	border:0;
    border-right: 1px solid #00b4d1;
	border-radius:0;
}
footer .bottom-menu.bottom span:last-child{
    border:0;
}
.bottom-menu {
    display:inline-block;
    padding:10px 2px 5px 2px;
    color:#00b4d1;
    font-size:10px;
    font-weight:bold;
    cursor:pointer;
}
.bottom-menu .glyphicon {
    display:block;
    margin-bottom:5px;
    font-size:20px;
    color:#00b4d1;
}
/* ============== EO Footer ============== */


/*list group bottom*/
.widget.menu-panel .list-group.bottom li{
    border-top:1px solid #fff;
}
.widget.menu-panel .list-group.bottom li:last-child{
    border-bottom:1px solid #fff;
}
.widget.menu-panel .list-group.bottom li > div{
    position:relative;
    border-radius:0!important;
    background-color:#00b4d1;
    color:#fff;
}
/*list group bottom*/
/*menu copyright*/
.widget.menu-panel .panel-copyright{
    padding:10px 0;
    background-color:#00b4d1;
    font-size:.8em;
    color:#fff;
    text-align:center;
}
.widget.menu-panel .panel-copyright .nav-pills{
    padding:0;
    background-color:#00b4d1;
}
.widget.menu-panel .panel-copyright .nav-pills > li{
    padding:5px 10px;
    display: inline-block;

}
/*eo menu copyright*/
/*eo menu-panel*/
/* ================= EO Panel ================= */




/** J B U T T O N */

.jbutton {
    display:block;
    width:100%;
    overflow:auto;
    background-color: #9e9e9e;
}

ul.jbutton {
    list-style: none;
    margin:0;
    padding:0;
}
.jbutton > span,
.jbutton li {
    display:block;
    float:left;
    padding:4px 24px;
    color:white;
    cursor:pointer;
}
.jbutton > span:first-child,
.jbutton li:first-child {
    padding-left:24px;
}
.jbutton > span:last-child,
.jbutton li:last-child {
    padding-right:24px;
}
.jbutton > span:hover,
.jbutton li:hover
{
    background-color: rgba(53, 53, 53, 0.51);
}

/** EO jbutton */

div.gif-loader {
    margin: 1.6em auto 0.4em;
    width:100%;
    text-align:center;
}

img.gif-loader {
    display:inline-block;
    padding:.5em 0 0 1.8em;
}
